.signupRoot{
    height: calc(100vh - 50.4px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.signupLabel{
    text-align: start;
    width: 500px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.signupInput{
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    border: #2196F3 3px solid;
    font-size: 20px;
    color: black;
}

.signupInput::placeholder{
    color: black;
}

.signupInput:active, input:focus{
    border: #2196F3 5px solid;
    outline: none;
}

@media (max-width: 550px) {
    .signupLabel{
        width: 300px;
    }

    .signupInput{
        width: 300px;
    }
}

@media (max-width: 320px) {
    .signupLabel{
        width: 200px;
        font-size: 20px;
    }

    .signupInput{
        width: 200px;
        font-size: 15px;
    }
}
