.distanceButton{
    display: block;
    margin: 10px auto 0px;
    background: white;
    padding: 10px;
    font-size: 15px;
    font-family: inherit;
    font-weight: bold;
    border-radius: 15px;
    border: #2196F3 solid 2px;
    color: black;
}

.distanceButton:hover{
    border-width: 4px;
}

.distanceButton:active{
    color: white;
    background: #2196F3;
}